<form class="editor-data">
  {{{ EmailInput }}}
  {{{ LineHelper }}}

  {{{ LoginInput }}}
  {{{ LineHelper2 }}}


  {{{ FirstNameInput }}}
  {{{ LineHelper3 }}}

  {{{ LastNameInput }}}
  {{{ LineHelper4 }}}

  {{{ NicknameInput }}}
  {{{ LineHelper5 }}}

  {{{ PhoneInput }}}
</form>
