<div class="editor-data">
  {{{ EmailString }}}
  {{{ LineHelper }}}

  {{{ LoginString }}}
  {{{ LineHelper2 }}}


  {{{ FirstNameString }}}
  {{{ LineHelper3 }}}

  {{{ LastNameString }}}
  {{{ LineHelper4 }}}

  {{{ NicknameString }}}
  {{{ LineHelper5 }}}

  {{{ PhoneString }}}
</div>
