<form class="form" id="signinForm">
  <div class="modal-inputs">
    {{{InputEmail}}}
    {{{InputLogin}}}
    {{{InputFirstName}}}
    {{{InputLastName}}}
    {{{InputPhone}}}
    {{{InputPassword1}}}
    {{{InputPassword2}}}
  </div>

  <div class="modal-buttons">
    {{{ButtonSubmit}}}
    {{{ButtonLink}}}
  </div>
</form>