<button class="{{class}}" type="{{type}}">
  {{!-- <a class="button-submit__link" 
  href="{{ linkPath }}" type="{{type}}">{{ buttonTitle }}
  </a> --}}
  {{#if imageBtn}}
  <img src="assets/icons/arrow.svg" alt="send message." class="message__arrow">
  {{/if}}
</button>